__pycache__/
*.py[cod]

env/
venv/
.idea/
.vscode/

data/*.xlsx
!data/*.dvc

models/**/*.pkl
models/**/*.joblib
models/**/*.npy

!models/**/*.dvc
!models/.gitkeep

logs/pipeline_log.txt
*.log

.DS_Store
Thumbs.db
/metrics/*.json
/metrics
